<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars - Jadd Cheng</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">GET MARS DATA!</a></p>
    </div>

    <!-- Mars News -->
    <div class="row" id="mars-news">
      <div class="col-md-12">
        <h4 class="heading">{{mars.news_title}}</h4>
        <small>{{mars.news_p}}</small>
      </div> <!-- end col -->
    </div> <!-- end row -->
 
    <hr>

    <!-- Mars Weather -->
    <div class="row" id="mars-weather">
        <div class="col-md-12">
            <h4>Mars Weather</h4>
            <small>{{mars.mars_weather}}</small>
        </div>
    </div>
    <hr>
    
    <!-- Mars Image -->
    <div class="row" id="mars-image">
        <div class="col-md-12">
            <h4>Mars Featured Image of the Day</h4>
            <a class="thumbnail" href="{{mars.featured_image_url}}" target="_blank"><img src="{{mars.featured_image_url}}" alt="Mars Featured Image of the Day"></a>
        </div> <!-- end div col -->
    </div> <!-- end div row -->
    <hr>
    <!-- Mars Facts Table -->
    <div class="row">
        <div class="col-md-12 text-center d-flex justify-content-center">
            <h4>Mars Facts</h4>
            <div class="d-flex justify-content-center">
                {{mars.facts_html_table|safe}}
            </div>
            <br>
        </div> <!-- end div class col -->
    </div> <!-- end div row -->
  </div> <!-- end div container -->
</body>
</html>