<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars - Jadd Cheng</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1 my-5>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">GET MARS DATA!</a></p>
    </div>

    <!-- Mars News -->
    <div class="row" id="mars-news">
      <div class="col-md-12">
        <h2>Latest Mars News</h2>
        <h3 class="heading">{{mars.news_title}}</h4>
        <small>{{mars.news_p}}</small>
      </div> <!-- end col -->
    </div> <!-- end row -->
 
    <hr>
    
    <!-- Mars Image Weather Facts-->
    <div class="row" id="mars-image-weather-facts">
        <div class="col-sm-8">
            <h3>Featured Mars Image</h3>
            <a class="thumbnail" href="{{mars.featured_image_url}}" target="_blank"><img class="img-thumbnail w-50" src="{{mars.featured_image_url}}" alt="Mars Featured Image of the Day"></a>
        </div> <!-- end div col -->
        <div class="col-sm-3 float-left">
            <div class="border border-primary">
                <h3>Current Weather</h3>
                <small>{{mars.mars_weather}}</small>
            </div>
            </div><!-- end col -->
        <div class="col-sm-3 text-center d-flex justify-content-center">
                <h3>Mars Facts</h3>
                <div class="d-flex justify-content-center">
                    {{mars.facts_html_table|safe}}
                </div>
                <br>
            </div> <!-- end div class col -->
    </div> <!-- end div row -->
    <hr>
    <!-- Mars Hemispheres -->
    <h2>Mars Hemispheres</h2>
    <hr>
    <div class="row pb-3">
        {% for list_item in mars.hemisphere_image_urls %}
        <div class="col-sm-6 mx-auto">
                <a class="thumbnail" href="{{list_item['img_url']}}" target="_blank">
                    <img class="img-thumbnail img-fluid w-50" src="{{list_item['img_url']}}" alt="{{list_item['title']}}">
                </a>
                <h3 class="ml-3">{{list_item['title']}}</h3>
        </div><!-- col  -->
        {% endfor %}
    </div><!-- end row -->
    <hr>
  </div> <!-- end div main container -->
</body>
</html>